* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
}

.nav__responsive-ul {
    display: none;
}

.nav {
    background-color: #006060;
}

.nav__li {
    display: inline-block;
    padding: 12px;
    color: #fff;
}

.nav__li a {
    color: #fff;
    text-decoration: none;
}

.nav__li i {
    box-sizing: border-box;
    text-align: right;
}
h1 {
    display: inline-block;
    color: rgb(23, 170, 23);
    background-color: coral;
}




@media only screen and (max-width: 800px) {
    div {
        display: block;
        width: 100%;
    }
}