* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100;
}

body {
    background-color: #797979;
}
h1 {
  display: inline-block;
  color: #fff;
  background-color: #006060;
  padding: 10px;
  width: 100%;
}

h2 {
    color: #006060;
    padding: 15px;
    
    background-color: #ddd;
    width: 100%;
}

h3 {
    color: #232323;
    padding: 25px;
}

p {
    color: #fff;
    padding: 20px;
    text-align: justify;
}
.nav__responsive-ul {
  display: none;
}

.nav {
  background-color: #006060;
}

.nav__li {
  display: inline-block;
  padding: 12px;
  color: #fff;
}

.nav__li a {
  color: #fff;
  text-decoration: none;
}

.nav__li i {
  box-sizing: border-box;
  text-align: right;
  margin-right: 5px;
  width: 20px;
}

.nav__li:hover > a {
  color: #bbb;
}

.nav__li:hover > i {
  color: #bbb;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.flex-item {
    padding: 10px;
    margin: 10px;
    background-color: #006060;
    text-align: center;
    align-items: center;
}

.flex-item:hover > a {
    color: #bbb;
}



@media only screen and (max-width: 500px) {
  .nav__ul {
    display: none;
  }

  .nav {
    height: 37px;
    width: 100%;
    background-color: #022727;
  }

  .nav__responsive-li-container {
    float: left;
    font-size: 15px;
    padding: 16px 15px;
    color: #ccc;
    margin-top: -27px;
    z-index: 1;
  }

  .nav__responsive-ul {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #006060;
    z-index: 2;
    height: 37px;
  }

  .nav__responsive-button-container {
    float: right;
    font-size: 20px;
    padding: 6px 10px;
    color: #ccc;
    z-index: 1;
  }

  .nav__responsive-li {
    display: block;
    margin-top: 27px;
    width: 100%;
    background-color: #006060;
  }

  .nav__responsive-li i {
    box-sizing: border-box;
    text-align: center;
    margin-left: 5px;
    width: 40px;
    color: #ccc;
  }

  .nav__responsive-li a {
    color: #ccc;
    text-align: center;
    margin-left: 5px;
    width: 40px;
    text-decoration: none;
  }

  .nav__responsive-li-container {
    position: relative;
    top: -500px;
    background: #006060;
    transition: 1s;
    width: 8 0%;
    z-index: 100;
  }

  .nav__responsive-ul:hover > .nav__responsive-li-container {
    top: 25px;
  }
}
